# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [77]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [78]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
dataset = pd.read_csv(url, delimiter = '\t')
print(dataset.shape)

(4622, 5)

### Step 3. Assign it to a variable called chipo.

In [79]:
chipo = pd.read_csv(url, delimiter = '\t')
print(chipo.shape)

(4622, 5)

### Step 4. See the first 10 entries

In [80]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [81]:
# Solution 1

print(chipo.shape[0])

4622

In [82]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [12]:
print(chipo.shape[1])

5

### Step 7. Print the name of all the columns.

In [83]:
print(chipo.columns)

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [84]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [41]:
# 내가 만든 답
item_col = chipo['item_name'].value_counts()
#print(item_col)
most_ordered = item_col.index[0]
print(most_ordered)

Chicken Bowl

In [87]:
c = chipo.groupby('item_name') # item_name 기준으로 그룹화
c = c.sum() # 그룹화 된 것을 sum한 결과
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [42]:
# 내가 만든 답
print(item_col[0])

726

### Step 11. What was the most ordered item in the choice_description column?

In [48]:
# 내가 만든 답
choice_col = chipo['choice_description'].value_counts()
print(choice_col.index[0])

[Diet Coke]

In [89]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [52]:
print(sum(chipo.iloc[:, 1]))

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [92]:
print(chipo['item_price'].dtype)

object

#### Step 13.b. Create a lambda function and change the type of item price

In [93]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: x.replace('$', '')).astype('float')

#### Step 13.c. Check the item price type

In [94]:
print(chipo['item_price'].dtype)

float64

### Step 14. How much was the revenue for the period in the dataset?

In [59]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [60]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']

In [61]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [63]:
# 내가 만든 답
print(sum(chipo['revenue']))

39237.02

In [95]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print(revenue)

39237.02

### Step 15. How many orders were made in the period?

In [66]:
# 내가 만든 답
print(max(chipo['order_id']))

1834

In [97]:
orders = chipo['order_id'].value_counts().count() # .count()로 전체 개수를 셀 수 있음
print(orders)

1834

### Step 16. What is the average revenue amount per order?

In [68]:
# 내가 만든 답
print(sum(chipo['revenue']) / 1834)

21.3942311887

In [101]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby('order_id').sum()
print(order_grouped)
print(order_grouped.mean())
print(order_grouped.mean()['revenue'])

          quantity  item_price  revenue
order_id
1                4       11.56    11.56
2                2       16.98    33.96
3                2       12.67    12.67
4                2       21.00    21.00
5                2       13.70    13.70
6                2       17.50    17.50
7                2       15.70    15.70
8                2       10.88    10.88
9                3       10.67    12.85
10               2       13.20    13.20
11               2       12.38    12.38
12               2       14.37    14.37
13               2       10.88    10.88
14               2       10.08    10.08
15               2       10.88    10.88
16               2       10.68    10.68
17               2       10.08    10.08
18               4       24.90    24.90
19               2       13.90    13.90
20               4       36.20    36.20
21               3       23.36    23.36
22               2       12.98    12.98
23               3       11.17    13.35
24               2       12.07    12.07
25               2       11.38    11.38
26               2       20.50    20.50
27               2       13.90    13.90
28               4       33.70    33.70
29               2       17.98    17.98
30               3       23.36    23.36
...            ...         ...      ...
1805             2       20.00    20.00
1806             4       13.00    13.00
1807             2       18.64    18.64
1808             2       13.70    13.70
1809             3       14.45    14.45
1810             2       23.00    23.00
1811             3       29.25    29.25
1812             4       22.50    25.00
1813             2       17.50    35.00
1814             2       13.70    13.70
1815             2       12.50    12.50
1816             2       13.20    13.20
1817             4       13.00    13.00
1818             2       18.14    18.14
1819             2       13.20    13.20
1820             2       12.50    12.50
1821             2       13.70    13.70
1822             4       23.00    26.00
1823             3       12.15    12.15
1824             3       26.95    26.95
1825             6       66.50    66.50
1826             4       15.95    15.95
1827             5       32.95    32.95
1828             3       14.45    14.45
1829             3       24.25    24.25
1830             2       23.00    23.00
1831             3       12.90    12.90
1832             2       13.20    13.20
1833             2       23.50    23.50
1834             3       28.75    28.75

[1834 rows x 3 columns]
quantity       2.711014
item_price    18.811429
revenue       21.394231
dtype: float64
21.394231188658654

In [102]:
# Solution 2

chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [72]:
# 내가 만든 답
print(len(chipo['item_name'].unique()))

50

In [105]:
chipo['item_name'].value_counts().count()

50